<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap" rel="stylesheet">
    <link rel="manifest" href="/static/assets/favicon/site.webmanifest">
    <link rel="icon" href="/static/assets/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/static/assets/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="apple-touch-icon" href="/static/assets/favicon/apple-touch-icon.png" sizes="180x180" type="image/png">
    <link rel="icon" href="/static/assets/favicon/android-chrome-192x192.png" sizes="192x192" type="image/png">
    <link rel="icon" href="/static/assets/favicon/android-chrome-512x512.png" sizes="512x512" type="image/png">
    <title>I wrote you a love letter</title>
</head>
<body>
    <div class="header-wrapper">
        <div class="header">
            <h1>I wrote you a love letter <span class="emoji">💌</span></h1>
        </div>
    </div>
    
    <div class="coming-soon">
        <p>Love letters for the internet</p>
        <p>Coming soon...</p>
    </div>


</body>
</html>