<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="header-wrapper">
        <div class="header">
            <h1>I wrote you a love letter <h1an class="emoji">💌</span></h1>
            <div class="buttons">
                <a href="/">Letters</a>
                <a href="http://127.0.0.1:5500/templates/write.html">Write</a>
            </div>
        </div>
    </div>
    
    <div class="landing">
        <div class="gif-container">
            <img src="/static/assets/animation-2.png" alt="" data-gif="/static/assets/animation-2.gif" data-duration="1800">
        </div>
         
        <button class="write-button">Write a love letter</button>
    </div>
    
    <script src="/static/index.js"></script>
</body>
</html>