<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="header-wrapper">
        <div class="header">
            <div class="title">
                <p>I wrote you a love letter <span class="emoji">💌</span></p>
            </div>
            <div class="buttons">
                <a href="/">Letters</a>
                <a href="/write">Write</a>
            </div>
        </div>

        <div class="letter"></div>
    </div>
</body>
</html>